* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #bbbbbb;
  height: 40px;
}

.header .logo h1 {
  font-family: "Coda Caption", sans-serif;
  font-size: 20px;
  color: #4d4d4d;
}

.header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header .menu ul li {
  list-style: none;
  margin-right: 20px;
  height: 40px;
  padding-top: 5px;
  padding-left: 5px;
  border-left: 1px solid #bbbbbb;
}

.header .menu ul li:last-child {
  border-right: 1px solid #bbbbbb;
  padding-left: 15px;
  padding-right: 15px;
}

.header .menu ul li:last-child a {
  color: #006495;
}

.header .menu ul li:last-child a:hover {
  text-decoration: none;
  color: #01486b;
}

.header .menu ul li strong {
  color: #006495;
}

.content .block-admin-content .sidebar {
  background-color: #357291;
  padding-top: 20px;
}

.content .block-admin-content .sidebar ul {
  padding: 0;
  margin: 0;
}

.content .block-admin-content .sidebar ul li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #236a8d;
}

.content .block-admin-content .sidebar ul li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.content .block-admin-content .sidebar ul li a:hover {
  color: #dddddd;
  text-decoration: none;
}

.content .block-admin-content .sidebar ul .comments_count_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .block-admin-content .sidebar ul .comments_count_list .comment_count {
  padding-right: 8px;
  padding-left: 8px;
  background: #2d87b4;
  margin-left: 5px;
}

.content .block-admin-content .sidebar ul .comments_count_list .comment_count span {
  color: #fff;
}

.block-content .admin-header {
  width: 100%;
  background-color: #ececec;
  padding-top: 5px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-content .admin-header span {
  padding-left: 10px;
  margin-right: 10px;
}

.block-content .admin-header span a {
  color: #000;
}

.block-content .admin-header .add {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #e0e0e0;
  border: 1px solid #c2c2c2;
  cursor: pointer;
  margin-right: 15px;
  color: #000;
}

.block-content .admin-header .add:hover {
  background: #c2c2c2;
  text-decoration: none;
}

.block-content .admin-header .add .fa-plus {
  color: #fff;
  font-size: 20px;
}

.block-content .admin-content-info {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.block-content .admin-content-info .block-info__news, .block-content .admin-content-info .block-info__articles, .block-content .admin-content-info .block-info__blogs, .block-content .admin-content-info .block-info__cheats {
  padding-left: 10px;
  padding-right: 10px;
}

.block-content .admin-content-info .block-info__news--content, .block-content .admin-content-info .block-info__articles--content, .block-content .admin-content-info .block-info__blogs--content, .block-content .admin-content-info .block-info__cheats--content {
  background: #279FE0;
  color: #fff;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.block-content .admin-content-info .block-info__news--content span strong, .block-content .admin-content-info .block-info__articles--content span strong, .block-content .admin-content-info .block-info__blogs--content span strong, .block-content .admin-content-info .block-info__cheats--content span strong {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  margin-left: 10px;
  font-size: 18px;
}

.block-content .admin-content-info .block-info__news--futer, .block-content .admin-content-info .block-info__articles--futer, .block-content .admin-content-info .block-info__blogs--futer, .block-content .admin-content-info .block-info__cheats--futer {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #3DA9E3;
}

.block-content .admin-content-info .block-info__news--futer a, .block-content .admin-content-info .block-info__articles--futer a, .block-content .admin-content-info .block-info__blogs--futer a, .block-content .admin-content-info .block-info__cheats--futer a {
  color: #fff;
}

.block-content .admin-content {
  width: 100%;
  margin-right: 10px;
}

.block-content .admin-content table {
  margin-top: 10px;
  margin-left: 10px;
  width: 99%;
}

.block-content .admin-content table th {
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
  height: 45px;
  border-right: 1px solid #ececec;
  background: #006495;
}

.block-content .admin-content table td {
  font-size: 13px;
  background: #ececec;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding-right: 5px;
  padding-left: 5px;
}

.block-content .admin-content table td .edit {
  padding: 10px;
  background-color: #1E91CF;
  border: 1px solid #1978AB;
  cursor: pointer;
}

.block-content .admin-content table td .edit:hover {
  background: #1978AB;
}

.block-content .admin-content table td .edit .fa-pencil {
  color: #fff;
  font-size: 15px;
}

.block-content .admin-content table td .del {
  padding: 10px;
  background-color: #F56B6B;
  border: 1px solid #F24545;
  cursor: pointer;
}

.block-content .admin-content table td .del:hover {
  background: #F24545;
}

.block-content .admin-content table td .del .fa-trash {
  color: #fff;
  font-size: 15px;
}

.block-content .admin-content .form_add {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-content .admin-content .form_add input, .block-content .admin-content .form_add textarea {
  border: 1px solid #D1D1D1;
  padding-left: 5px;
}

.block-content .admin-content .form_add label {
  margin-top: 10px;
}

.block-content .admin-content .form_add .btn_add {
  width: 30%;
  margin-top: 15px;
}

.block-autorization {
  margin-top: 20%;
  width: 350px;
  height: auto;
  border: 1px solid #7e7e7e;
  padding: 25px;
}

.block-autorization .login {
  width: 100%;
  margin-bottom: 5px;
}

.block-autorization .pass {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}
/*# sourceMappingURL=style_admin.css.map */