@media (max-width: 600px) {
  .header {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .main-nav .item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header .auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .footer-fluid .footer .block-left {
    text-align: center;
  }
  .footer-fluid .footer .bottom-menu {
    margin-top: 25px;
  }
  .footer-fluid .footer .bottom-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .footer-fluid .footer .social ul li {
    height: 40px;
    width: 40px;
  }
  .footer-fluid .footer .social ul li i {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .carousel {
    display: block;
  }
  .carousel .carousel-inner .carousel-item .cat {
    top: 10px;
    left: 10px;
    background: #006495;
    padding: 5px 8px;
    opacity: 0.8;
  }
  .carousel .carousel-inner .carousel-item .cat span {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    display: block;
    text-align: center;
  }
  .header {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .main-nav .item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header .auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .news-today {
    display: none !important;
  }
  .footer-fluid .footer .bottom-menu {
    margin-top: 25px;
  }
  .footer-fluid .footer .bottom-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .footer-fluid .footer .bottom-menu ul li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .footer-fluid .footer .bottom-menu ul li a {
    font-size: 18px;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .header .main-nav .item {
    font-size: 15px;
  }
}

@media (min-width: 800px) {
  .carousel {
    display: none;
  }
  .news-today {
    display: block;
  }
}
/*# sourceMappingURL=media.css.map */